<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/logo.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>personalsLabot</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu1 cleanm4_menu1 menu cid-sLDcMSUdAB" once="menu" id="menu1-y">

	

	<nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
		
		<div class="menu-bottom">
			<div class="menu-logo">
				<div class="navbar-brand">
					<span class="navbar-logo">
						<a href="#">
							<img src="assets/images/logo.png" alt="" style="height: 3rem;">
						</a>
					</span>
					<span class="navbar-caption-wrap"><a href="#" class="brand-name text-white mbr-bold display-5">DVRisks&amp;RC</a></span>
				</div>
			</div>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown js-float-line nav-right" data-app-modern-menu="true"><li class="nav-item dropdown">
						<a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Administrēšana</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="#">Iestādes</a><a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Darba vietas/vides</a><a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Amati</a><a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Personāls</a></div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Dokumenti</a>
						<div class="dropdown-menu">
							<a class="text-white dropdown-item display-4" href="#">Riska novērtēšanas anketa</a>
							<a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Pasākuma plāna dokumenti</a>
							
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Pievienošana</a>
						<div class="dropdown-menu">
							<a class="text-white dropdown-item display-4" href="#">Faktora grupa</a>
							<a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Faktors</a>
							
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link link text-white dropdown-toggle display-4" href="#" data-toggle="dropdown-submenu" aria-expanded="false">Lietotājs</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="#">Mani dati</a><a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Pievienot lietotāju</a><div class="dropdown-divider"></div><a class="text-white dropdown-item display-4" href="#" aria-expanded="false">Izrakstīties</a></div>
					</li>
                    <li class="nav-item"><a class="nav-link link text-white display-4" href="#" aria-expanded="false">Pieslēgties</a></li></ul>
				
			</div>
			<button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>
	</nav>
</section>

<section class="form cid-sQkANrOFza" id="formbuilder-z">
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="Xnwk7sv7lqEWdEDhZpu1XSXSOemd6COE+Ef0BUw9FhXIwZPI6RDw0GB+N4L4geWa/94U7NRiMjMNItQRcPT29BXFNBHuvWGMLZUAd9Beq580DLJ+IKi/Y7mZuUH3jaHf">
<div class="form-row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Success Message</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
</div>
<div class="dragArea form-row">
<div class="col-lg-12 col-md-12 col-sm-12">
<h4 class="mbr-fonts-style display-5">Personāla saraksta labošanas forma</h4>
</div>
<div class="col-lg-12 col-md-12 col-sm-12">
<hr>
</div>
<div data-for="environment" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="environment-formbuilder-z" class="form-control-label mbr-fonts-style display-7">* Rediģēt darba vidi:</label>
<input type="text" name="environment" placeholder="- Ievadiet darba vidi -" data-form-field="environment" class="form-control display-7" required="required" value="" id="environment-formbuilder-z">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group">
<label class="form-control-label mbr-fonts-style display-7">* Rediģēt personas vārdu, uzvārdu:</label>
<div class="form-row">
<div class="col">
<input type="text" name="staffName" placeholder="- Ievadiet personas vārdu -" data-form-field="staffName" required="required" class="form-control text-multiple" value="" id="staffName-formbuilder-z">
</div>
<div class="col">
<input type="text" name="staffSurname" placeholder="- Ievadiet personas uzvārdu -" data-form-field="staffSurname" required="required" class="form-control text-multiple" value="" id="staffSurname-formbuilder-z">
</div>
</div>
</div>
<div data-for="staffPersonCode" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="staffPersonCode-formbuilder-z" class="form-control-label mbr-fonts-style display-7">* Rediģēt personas kodu:</label>
<input type="text" name="staffPersonCode" placeholder="- Ievadiet personas kodu -" data-form-field="staffPersonCode" class="form-control display-7" required="required" value="" id="staffPersonCode-formbuilder-z">
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group">
<label class="form-control-label mbr-fonts-style display-7">* Rediģēt personas telefona numuru, e-pastu</label>
<div class="form-row">
<div class="col">
<input type="text" name="staffTelephoneNumber" placeholder="- Ievadiet telefona numuru -" data-form-field="staffTelephoneNumber" required="required" class="form-control text-multiple" value="" id="staffTelephoneNumber-formbuilder-z">
</div>
<div class="col">
<input type="text" name="staffEmail" placeholder="- Ievadiet personas e-pastu -" data-form-field="staffEmail" required="required" class="form-control text-multiple" value="" id="staffEmail-formbuilder-z">
</div>
</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 form-group" data-for="staffAuthority">
<label for="staffAuthority-formbuilder-z" class="form-control-label mbr-fonts-style display-7">* Rediģēt piešķirto iestādi un amatu:</label>
<select name="staffAuthority" data-form-field="staffAuthority" class="form-control display-7" id="staffAuthority-formbuilder-z">
<option value="Iestade #1">Iestade #1</option>
<option value="Iestade #2">Iestade #2</option>
<option value="Iestade #3">Iestade #3</option>
</select>
</div>
<div data-for="staffPosition" class="col-lg-12 col-md-12 col-sm-12 form-group">
<select name="staffPosition" data-form-field="staffPosition" class="form-control display-7" id="staffPosition-formbuilder-z">
<option value="Amats #1">Amats #1</option>
<option value="Amats #2">Amats #2</option>
<option value="Amats #3">Amats #3</option>
</select>
</div>
<div data-for="staffEnvironment" class="col-lg-12 col-md-12 col-sm-12 form-group">
<label for="staffEnvironment-formbuilder-z" class="form-control-label mbr-fonts-style display-7">* Rediģēt piešķirto darba vidi:</label>
<select name="staffEnvironment" data-form-field="staffEnvironment" class="form-control display-7" id="staffEnvironment-formbuilder-z">
<option value="Darba vide #1">Darba vide #1</option>
<option value="Darba vide #2">Darba vide #2</option>
<option value="Darba vide #3">Darba vide #3</option>
</select>
</div>
<div class="col-auto">
<button type="submit" class="btn btn-primary display-7">Apstiprināt</button>
</div>
</div>
</form><!--Formbuilder Form-->
</div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/nav-dropdown.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  
  
</body>
</html>