/* === Navigation bar CSS code === */
#navbarContent div#app nav.navbar {
    background-color: rgb(57, 141, 243) !important;
    height: 70px;
}

#navbarContent a.nav-link {
    font-weight: bold;
    background-color: rgb(57, 141, 243) !important;;
    border: none;
    color: white;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 1s;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-top: 17px;
    padding-bottom: 17px;
}

#navbarContent a.nav-link:hover {
    opacity: 0.8;
    color: black;
}

#navbarContent div.dropdown-menu a.dropdown-item {
    font-weight: bold;
    background-color: rgb(57, 141, 243) !important;;
    border: none;
    color: white;
    opacity: 1;
    transition: 0.3s;
}

#navbarContent div.dropdown-menu a.dropdown-item:hover {
    opacity: 0.7;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#navbarContent div.dropdown-menu {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#navbarContent div.dropdown-divider {
    margin-top: 1px;
    margin-bottom: 0px;
}

@media (max-width: 720px) {
    #navbarContent div#app nav.navbar {
        background-color: rgb(243, 57, 57) !important;
        height: 70px;
    }
    
    #navbarContent a.nav-link {
        font-weight: bold;
        background-color: rgb(57, 141, 243) !important;;
        border: none;
        color: white;
        text-align: center;
        margin: 4px 2px;
        opacity: 0.8;
        transition: 1s;
        margin-bottom: 3px;
        margin-top: 3px;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    
    #navbarContent a.nav-link:hover {
        opacity: 0.8;
        color: black;
    }
    
    #navbarContent div.dropdown-menu a.dropdown-item {
        font-weight: bold;
        background-color: rgb(57, 141, 243) !important;;
        border: none;
        color: white;
        opacity: 1;
        transition: 0.3s;
    }
    
    #navbarContent div.dropdown-menu a.dropdown-item:hover {
        opacity: 0.7;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    
    #navbarContent div.dropdown-menu {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
    
    #navbarContent div.dropdown-divider {
        margin-top: 1px;
        margin-bottom: 0px;
    }
    
}
/* ======================================= */

body {
    background-color: rgba(238, 238, 238, 0.843);
}

div#navbarContent {
    -webkit-box-shadow: 5px 5px 5px rgb(189, 189, 189);
    -moz-box-shadow:    5px 5px 5px rgb(189, 189, 189);
    box-shadow:         5px 5px 5px rgb(189, 189, 189);
    z-index:999;
}


h1 {
    text-align: center;
    padding-top: 100px;
}

#formField {
    padding-top: 20px;
    padding-bottom: 120px;
}

#formField #requiredText {
    color: red;
}

#formField #noteForFactorFields {
    font-style: italic;
    padding-bottom: 10px;
}

#formField .form-group {
    background-color: rgba(255, 255, 255, 0.87);
    padding: 20px 20px 20px 20px;
    border-radius: 10px 10px 10px 10px;
    border-color: black;
    border: 1px solid black;
}

div#formField div#inputFactorRow {
    margin-bottom: 25px;
}

div#formField div#inputRiskCauseRow {
    margin-bottom: 25px;
}

div#formField div#inputAuthorityCabinetRow {
    margin-bottom: 25px;
}

#formField .row {
    margin-top: 10px;
}
#formField #addRow {
    margin-top: 10px;
}

th {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

#formField #createDocumentTable {
    margin-top: 20px;
    font-size: 13px;
}

ul.list-group li.list-group-item#factorGroup-FactorsList {
    padding-left: 60px;
}

ul.list-group li#authority-environment-list {
    padding-left: 40px;
}

ul.list-group li#authority-environment-position-list {
    padding-left: 60px;
}

ul.list-group li#ungrouped-position-list {
    padding-left: 40px;
}

ul.list-group li#authority-environment-position-staff-list {
    padding-left: 80px;
}

ul.list-group li#factorGroup-FactorsList {
    padding-left: 40px;
}

ul.list-group li#factorGroup-Factors-RiskCauseList {
    padding-left: 80px;
}

ul.list-group li#factorGroup-Factors-RiskCause-RiskProcedureList {
    padding-left: 100px;
}

ul.list-group li#authority-environmentList {
    padding-left: 40px;
}

ul.list-group li#authority-environment-workLocationList {
    padding-left: 60px;
}

ul.list-group li#authority-environment-position-workLocation-list {
    padding-left: 80px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

ul.list-group div.col span#boldFont {
    font-weight: bold;
}

ul.list-group div.col-sm-10 span#boldFont {
    font-weight: bold;
}